# {{ ansible_managed }}
# Full configuration options can be found at https://www.consul.io/docs/agent/options.html

datacenter = "{{ consul__datacenter }}"
data_dir = "{{ consul__data_dir }}"
client_addr = "{{ ' '.join(consul__client_addresses) }}"
ui = {{ consul__ui | bool | to_json }}
server = {{ (consul__role == 'server') | bool | to_json }}

{% if consul__role == 'server' %}
bootstrap_expect = {{ consul__servers | count }}
{% endif %}

{% if consul__encrypt %}
encrypt = "{{ consul__encrypt }}"
{% endif %}

retry_join = {{ consul__servers | to_json }}
log_level = "{{ consul__log_level }}"
node_name = "{{ consul__node_name }}"
bind_addr = "{{ consul__bind_address }}"
advertise_addr = "{{ consul__advertise_address }}"

ports {
  grpc = {{ consul__port_grpc }}
  dns = {{ consul__port_dns }}
  http = {{ consul__port_http }}
  https = {{ consul__port_https }}
  serf_lan = {{ consul__port_serf_lan }}
  serf_wan = {{ consul__port_serf_wan }}
  server = {{ consul__port_server }}
  sidecar_min_port = {{ consul__port_sidecar_min }}
  sidecar_max_port = {{ consul__port_sidecar_max }}
  expose_min_port = {{ consul__port_expose_min }}
  expose_max_port = {{ consul__port_expose_max }}
}

connect {
  enabled = {{ consul__connect_enabled | bool | to_json }}
}

{% if consul__recursors %}
recursors = {{ consul__recursors | to_json }}
{% endif %}
