# {{ ansible_managed }}
# https://developer.hashicorp.com/consul/docs/agent/config/config-files

datacenter = "{{ consul__datacenter }}"
{% if consul__primary_datacenter is not none %}
primary_datacenter = "{{ consul__primary_datacenter }}"
{% endif %}
data_dir = "{{ consul__data_dir }}"
domain = "{{ consul__domain }}"
{% if consul__alt_domain is not none %}
alt_domain = "{{ consul__alt_domain }}"
{% endif %}
node_name = "{{ consul__node_name }}"
server = {{ (consul__role == 'server') | bool | to_json }}

{% if consul__role == 'server' %}
bootstrap_expect = {{ consul__bootstrap_expect | int }}
{% if consul__bootstrap | bool %}
bootstrap = true
{% endif %}
{% if consul__raft_protocol is not none %}
raft_protocol = {{ consul__raft_protocol | int }}
{% endif %}
{% if consul__raft_snapshot_threshold is not none %}
raft_snapshot_threshold = {{ consul__raft_snapshot_threshold | int }}
{% endif %}
{% if consul__raft_snapshot_interval is not none %}
raft_snapshot_interval = "{{ consul__raft_snapshot_interval }}"
{% endif %}
{% if consul__raft_trailing_logs is not none %}
raft_trailing_logs = {{ consul__raft_trailing_logs | int }}
{% endif %}
{% if consul__read_replica | bool %}
read_replica = true
{% endif %}
{% if consul__license_path is not none %}
license_path = "{{ consul__license_path }}"
{% endif %}
{% if consul__reconnect_timeout is not none %}
reconnect_timeout = "{{ consul__reconnect_timeout }}"
{% endif %}
{% if consul__reconnect_timeout_wan is not none %}
reconnect_timeout_wan = "{{ consul__reconnect_timeout_wan }}"
{% endif %}

autopilot {
  cleanup_dead_servers = {{ consul__autopilot_cleanup_dead_servers | bool | to_json }}
{% if consul__autopilot_last_contact_threshold is not none %}
  last_contact_threshold = "{{ consul__autopilot_last_contact_threshold }}"
{% endif %}
{% if consul__autopilot_max_trailing_logs is not none %}
  max_trailing_logs = {{ consul__autopilot_max_trailing_logs | int }}
{% endif %}
{% if consul__autopilot_min_quorum is not none %}
  min_quorum = {{ consul__autopilot_min_quorum | int }}
{% endif %}
{% if consul__autopilot_server_stabilization_time is not none %}
  server_stabilization_time = "{{ consul__autopilot_server_stabilization_time }}"
{% endif %}
{% if consul__autopilot_redundancy_zone_tag is not none %}
  redundancy_zone_tag = "{{ consul__autopilot_redundancy_zone_tag }}"
{% endif %}
  disable_upgrade_migration = {{ consul__autopilot_disable_upgrade_migration | bool | to_json }}
{% if consul__autopilot_upgrade_version_tag is not none %}
  upgrade_version_tag = "{{ consul__autopilot_upgrade_version_tag }}"
{% endif %}
}
{% endif %}

{% if consul__encrypt %}
encrypt = "{{ consul__encrypt }}"
encrypt_verify_incoming = {{ consul__encrypt_verify_incoming | bool | to_json }}
encrypt_verify_outgoing = {{ consul__encrypt_verify_outgoing | bool | to_json }}
{% endif %}

{% if consul__tls_enabled %}
tls {
  defaults {
    ca_file = "{{ consul__tls_ca_file }}"
{% if consul__tls_ca_path is not none %}
    ca_path = "{{ consul__tls_ca_path }}"
{% endif %}
{% if not consul__auto_encrypt_enabled or consul__role == 'server' %}
    cert_file = "{{ consul__tls_cert_file }}"
    key_file = "{{ consul__tls_key_file }}"
{% endif %}
    verify_incoming = {{ consul__tls_verify_incoming | bool | to_json }}
    verify_outgoing = {{ consul__tls_verify_outgoing | bool | to_json }}
{% if consul__tls_min_version is not none %}
    tls_min_version = "{{ consul__tls_min_version }}"
{% endif %}
{% if consul__tls_cipher_suites %}
    tls_cipher_suites = "{{ consul__tls_cipher_suites | join(',') }}"
{% endif %}
  }

  internal_rpc {
    verify_incoming = {{ consul__tls_internal_rpc_verify_incoming | bool | to_json }}
    verify_server_hostname = {{ consul__tls_internal_rpc_verify_server_hostname | bool | to_json }}
  }

  https {
    verify_incoming = {{ consul__tls_https_verify_incoming | bool | to_json }}
  }

  grpc {
    verify_incoming = {{ consul__tls_grpc_verify_incoming | bool | to_json }}
    use_auto_cert = {{ consul__tls_grpc_use_auto_cert | bool | to_json }}
  }
}

{% if consul__auto_encrypt_enabled %}
auto_encrypt {
{% if consul__role == 'server' %}
  allow_tls = true
{% else %}
  tls = true
{% if consul__auto_encrypt_dns_san %}
  dns_san = {{ consul__auto_encrypt_dns_san | to_json }}
{% endif %}
{% if consul__auto_encrypt_ip_san %}
  ip_san = {{ consul__auto_encrypt_ip_san | to_json }}
{% endif %}
{% endif %}
}
{% endif %}
{% endif %}

bind_addr = "{{ consul__bind_address }}"
advertise_addr = "{{ consul__advertise_address }}"
{% if consul__advertise_address_wan is not none %}
advertise_addr_wan = "{{ consul__advertise_address_wan }}"
{% endif %}
translate_wan_addrs = {{ consul__translate_wan_addrs | bool | to_json }}
client_addr = "{{ ' '.join(consul__client_addresses) }}"

{% if consul__address_dns is not none
   or consul__address_http is not none
   or consul__address_https is not none
   or consul__address_grpc is not none
   or consul__address_grpc_tls is not none %}
addresses {
{% if consul__address_dns is not none %}
  dns = "{{ consul__address_dns }}"
{% endif %}
{% if consul__address_http is not none %}
  http = "{{ consul__address_http }}"
{% endif %}
{% if consul__address_https is not none %}
  https = "{{ consul__address_https }}"
{% endif %}
{% if consul__address_grpc is not none %}
  grpc = "{{ consul__address_grpc }}"
{% endif %}
{% if consul__address_grpc_tls is not none %}
  grpc_tls = "{{ consul__address_grpc_tls }}"
{% endif %}
}

{% endif %}
ports {
  grpc = {{ consul__port_grpc }}
  dns = {{ consul__port_dns }}
  http = {{ consul__port_http }}
  https = {{ consul__port_https }}
  serf_lan = {{ consul__port_serf_lan }}
  serf_wan = {{ consul__port_serf_wan }}
  server = {{ consul__port_server }}
  sidecar_min_port = {{ consul__port_sidecar_min }}
  sidecar_max_port = {{ consul__port_sidecar_max }}
  expose_min_port = {{ consul__port_expose_min }}
  expose_max_port = {{ consul__port_expose_max }}
}

retry_join = {{ consul__retry_join | to_json }}
{% if consul__retry_interval is not none %}
retry_interval = "{{ consul__retry_interval }}"
{% endif %}
{% if consul__retry_max is not none %}
retry_max = {{ consul__retry_max | int }}
{% endif %}
{% if consul__retry_join_wan %}
retry_join_wan = {{ consul__retry_join_wan | to_json }}
{% endif %}
{% if consul__retry_interval_wan is not none %}
retry_interval_wan = "{{ consul__retry_interval_wan }}"
{% endif %}
{% if consul__retry_max_wan is not none %}
retry_max_wan = {{ consul__retry_max_wan | int }}
{% endif %}

leave_on_terminate = {{ consul__leave_on_terminate | bool | to_json }}
skip_leave_on_interrupt = {{ consul__skip_leave_on_interrupt | bool | to_json }}
rejoin_after_leave = {{ consul__rejoin_after_leave | bool | to_json }}

log_level = "{{ consul__log_level }}"
log_json = {{ consul__log_json | bool | to_json }}
{% if consul__log_file is not none %}
log_file = "{{ consul__log_file }}"
{% endif %}
{% if consul__log_rotate_bytes is not none %}
log_rotate_bytes = {{ consul__log_rotate_bytes | int }}
{% endif %}
{% if consul__log_rotate_duration is not none %}
log_rotate_duration = "{{ consul__log_rotate_duration }}"
{% endif %}
{% if consul__log_rotate_max_files is not none %}
log_rotate_max_files = {{ consul__log_rotate_max_files | int }}
{% endif %}
enable_syslog = {{ consul__enable_syslog | bool | to_json }}
{% if consul__syslog_facility is not none %}
syslog_facility = "{{ consul__syslog_facility }}"
{% endif %}

enable_debug = {{ consul__enable_debug | bool | to_json }}
disable_update_check = {{ consul__disable_update_check | bool | to_json }}
disable_anonymous_signature = {{ consul__disable_anonymous_signature | bool | to_json }}
disable_host_node_id = {{ consul__disable_host_node_id | bool | to_json }}
enable_script_checks = {{ consul__enable_script_checks | bool | to_json }}
enable_local_script_checks = {{ consul__enable_local_script_checks | bool | to_json }}
{% if consul__check_update_interval is not none %}
check_update_interval = "{{ consul__check_update_interval }}"
{% endif %}
{% if consul__session_ttl_min is not none %}
session_ttl_min = "{{ consul__session_ttl_min }}"
{% endif %}

{% if consul__node_meta %}
node_meta {
{% for key, value in consul__node_meta.items() %}
  {{ key | to_json }} = {{ value | to_json }}
{% endfor %}
}

{% endif %}
{% if consul__recursors %}
recursors = {{ consul__recursors | to_json }}
{% endif %}

dns_config {
  allow_stale = {{ consul__dns_allow_stale | bool | to_json }}
{% if consul__dns_max_stale is not none %}
  max_stale = "{{ consul__dns_max_stale }}"
{% endif %}
{% if consul__dns_node_ttl is not none %}
  node_ttl = "{{ consul__dns_node_ttl }}"
{% endif %}
{% if consul__dns_service_ttl %}
  service_ttl {
{% for key, value in consul__dns_service_ttl.items() %}
    {{ key | to_json }} = "{{ value }}"
{% endfor %}
  }
{% endif %}
  enable_truncate = {{ consul__dns_enable_truncate | bool | to_json }}
  only_passing = {{ consul__dns_only_passing | bool | to_json }}
{% if consul__dns_udp_answer_limit is not none %}
  udp_answer_limit = {{ consul__dns_udp_answer_limit | int }}
{% endif %}
{% if consul__dns_a_record_limit is not none %}
  a_record_limit = {{ consul__dns_a_record_limit | int }}
{% endif %}
{% if consul__dns_recursor_strategy is not none %}
  recursor_strategy = "{{ consul__dns_recursor_strategy }}"
{% endif %}
  use_cache = {{ consul__dns_use_cache | bool | to_json }}
{% if consul__dns_cache_max_age is not none %}
  cache_max_age = "{{ consul__dns_cache_max_age }}"
{% endif %}
}

{% if consul__performance_raft_multiplier is not none
   or consul__performance_leave_drain_time is not none
   or consul__performance_rpc_hold_timeout is not none %}
performance {
{% if consul__performance_raft_multiplier is not none %}
  raft_multiplier = {{ consul__performance_raft_multiplier | int }}
{% endif %}
{% if consul__performance_leave_drain_time is not none %}
  leave_drain_time = "{{ consul__performance_leave_drain_time }}"
{% endif %}
{% if consul__performance_rpc_hold_timeout is not none %}
  rpc_hold_timeout = "{{ consul__performance_rpc_hold_timeout }}"
{% endif %}
}

{% endif %}
{% if consul__limits_http_max_conns_per_client is not none
   or consul__limits_https_handshake_timeout is not none
   or consul__limits_rpc_handshake_timeout is not none
   or consul__limits_rpc_max_conns_per_client is not none
   or consul__limits_rpc_rate is not none
   or consul__limits_rpc_max_burst is not none
   or consul__limits_kv_max_value_size is not none
   or consul__limits_txn_max_req_len is not none %}
limits {
{% if consul__limits_http_max_conns_per_client is not none %}
  http_max_conns_per_client = {{ consul__limits_http_max_conns_per_client | int }}
{% endif %}
{% if consul__limits_https_handshake_timeout is not none %}
  https_handshake_timeout = "{{ consul__limits_https_handshake_timeout }}"
{% endif %}
{% if consul__limits_rpc_handshake_timeout is not none %}
  rpc_handshake_timeout = "{{ consul__limits_rpc_handshake_timeout }}"
{% endif %}
{% if consul__limits_rpc_max_conns_per_client is not none %}
  rpc_max_conns_per_client = {{ consul__limits_rpc_max_conns_per_client | int }}
{% endif %}
{% if consul__limits_rpc_rate is not none %}
  rpc_rate = {{ consul__limits_rpc_rate }}
{% endif %}
{% if consul__limits_rpc_max_burst is not none %}
  rpc_max_burst = {{ consul__limits_rpc_max_burst | int }}
{% endif %}
{% if consul__limits_kv_max_value_size is not none %}
  kv_max_value_size = {{ consul__limits_kv_max_value_size | int }}
{% endif %}
{% if consul__limits_txn_max_req_len is not none %}
  txn_max_req_len = {{ consul__limits_txn_max_req_len | int }}
{% endif %}
}

{% endif %}
ui_config {
  enabled = {{ consul__ui | bool | to_json }}
{% if consul__ui_content_path is not none %}
  content_path = "{{ consul__ui_content_path }}"
{% endif %}
{% if consul__ui_metrics_provider is not none %}
  metrics_provider = "{{ consul__ui_metrics_provider }}"
{% endif %}
{% if consul__ui_metrics_proxy_base_url is not none %}
  metrics_proxy {
    base_url = "{{ consul__ui_metrics_proxy_base_url }}"
  }
{% endif %}
{% if consul__ui_dashboard_url_templates %}
  dashboard_url_templates {
{% for key, value in consul__ui_dashboard_url_templates.items() %}
    {{ key | to_json }} = {{ value | to_json }}
{% endfor %}
  }
{% endif %}
}

{% if consul__acl_enabled %}
acl {
  enabled = true
  default_policy = "{{ consul__acl_default_policy }}"
  down_policy = "{{ consul__acl_down_policy }}"
  enable_key_list_policy = {{ consul__acl_enable_key_list_policy | bool | to_json }}
  enable_token_persistence = {{ consul__acl_enable_token_persistence | bool | to_json }}
  enable_token_replication = {{ consul__acl_enable_token_replication | bool | to_json }}
{% if consul__acl_policy_ttl is not none %}
  policy_ttl = "{{ consul__acl_policy_ttl }}"
{% endif %}
{% if consul__acl_role_ttl is not none %}
  role_ttl = "{{ consul__acl_role_ttl }}"
{% endif %}
{% if consul__acl_token_ttl is not none %}
  token_ttl = "{{ consul__acl_token_ttl }}"
{% endif %}
{% if consul__acl_token_initial_management is not none
   or consul__acl_token_agent is not none
   or consul__acl_token_agent_recovery is not none
   or consul__acl_token_default is not none
   or consul__acl_token_replication is not none
   or consul__acl_token_config_file_registration is not none %}

  tokens {
{% if consul__acl_token_initial_management is not none %}
    initial_management = "{{ consul__acl_token_initial_management }}"
{% endif %}
{% if consul__acl_token_agent is not none %}
    agent = "{{ consul__acl_token_agent }}"
{% endif %}
{% if consul__acl_token_agent_recovery is not none %}
    agent_recovery = "{{ consul__acl_token_agent_recovery }}"
{% endif %}
{% if consul__acl_token_default is not none %}
    default = "{{ consul__acl_token_default }}"
{% endif %}
{% if consul__acl_token_replication is not none %}
    replication = "{{ consul__acl_token_replication }}"
{% endif %}
{% if consul__acl_token_config_file_registration is not none %}
    config_file_registration = "{{ consul__acl_token_config_file_registration }}"
{% endif %}
  }
{% endif %}
}

{% endif %}
connect {
  enabled = {{ consul__connect_enabled | bool | to_json }}
}

telemetry {
  prometheus_retention_time = "{{ consul__prometheus_retention_time }}"
}
