job "http-echo" {

  datacenters = ["dc1"]

  # Stellt sicher, dass der Job nicht auf dem Server node landet
  constraint {
    attribute = "${node.class}"
    value = "clients"
  }

  group "echo" {
    count = 4

    task "server" {
      driver = "docker"
      config {
        image = "hashicorp/http-echo:latest"
        args  = [
          "-listen", ":${NOMAD_PORT_http}",
          "-text", "Welcome to the http-echo service. You are on ${NOMAD_IP_http}",
        ]
      }

      resources {
        network {
          mbits = 10
          port "http" {}
        }
      }

      service {
        name = "http-echo"
        port = "http"

		tags = [
          "traefik.enable=true",
		  # "traefik.http.routers.http-echo.rule=Host(`api.example.com`) && Path(`/http-echo`)",
        ]

        check {
          type = "http"
          path = "/health"
          interval = "2s"
          timeout = "2s"
        }
      }
    }
  }
}
