# {{ ansible_managed }}
client {
  enabled = true
{% if nomad__client_network_interface is not none %}
  network_interface = "{{ nomad__client_network_interface }}"
{% endif %}
{% if not nomad__use_consul %}
  servers = {{ nomad__servers | to_json }}
{% endif %}
{% if nomad__node_class %}
  node_class = "{{ nomad__node_class }}"
{% endif %}
  reserved {
    cpu = 500
    memory = 512
    disk = 1024
    reserved_ports = "22,8500-8600"
  }
}

{% block nomad__client_plugins %}
{% block nomad__client_plugin_docker %}
plugin "docker" {
  config {
    auth {
      config = "/root/.docker/config.json"
    }
    auth_soft_fail = true
  }
}
{% endblock %}}
{% endblock %}
