# {{ ansible_managed }}
# https://developer.hashicorp.com/nomad/docs/configuration
name = "{{ nomad__node_name }}"
region = "{{ nomad__region }}"
datacenter = "{{ nomad__datacenter }}"

bind_addr = "{{ nomad__bind_address }}"
data_dir = "{{ nomad__data_path }}"
log_level = "{{ nomad__log_level }}"
log_json = {{ nomad__log_json | bool | to_json }}
{% if nomad__log_file is not none %}
log_file = "{{ nomad__log_file }}"
{% endif %}
{% if nomad__log_rotate_bytes is not none %}
log_rotate_bytes = {{ nomad__log_rotate_bytes | int }}
{% endif %}
{% if nomad__log_rotate_duration is not none %}
log_rotate_duration = "{{ nomad__log_rotate_duration }}"
{% endif %}
{% if nomad__log_rotate_max_files is not none %}
log_rotate_max_files = {{ nomad__log_rotate_max_files | int }}
{% endif %}
enable_syslog = {{ nomad__enable_syslog | bool | to_json }}
{% if nomad__syslog_facility is not none %}
syslog_facility = "{{ nomad__syslog_facility }}"
{% endif %}

{% if nomad__plugin_dir is not none %}
plugin_dir = "{{ nomad__plugin_dir }}"
{% endif %}
enable_debug = {{ nomad__enable_debug | bool | to_json }}
disable_update_check = {{ nomad__disable_update_check | bool | to_json }}
disable_anonymous_signature = {{ nomad__disable_anonymous_signature | bool | to_json }}
leave_on_interrupt = {{ nomad__leave_on_interrupt | bool | to_json }}
leave_on_terminate = {{ nomad__leave_on_terminate | bool | to_json }}

ports {
  http = {{ nomad__port_http }}
  rpc = {{ nomad__port_rpc }}
  serf = {{ nomad__port_serf }}
}

{% if nomad__address_http is not none or nomad__address_rpc is not none or nomad__address_serf is not none %}
addresses {
{% if nomad__address_http is not none %}
  http = "{{ nomad__address_http }}"
{% endif %}
{% if nomad__address_rpc is not none %}
  rpc  = "{{ nomad__address_rpc }}"
{% endif %}
{% if nomad__address_serf is not none %}
  serf = "{{ nomad__address_serf }}"
{% endif %}
}

{% endif %}
advertise {
  http = "{{ nomad__advertise_http }}"
  rpc  = "{{ nomad__advertise_rpc }}"
  serf = "{{ nomad__advertise_serf }}"
}

ui {
  enabled = {{ nomad__ui_enabled | bool | to_json }}
{% if nomad__ui_consul_url is not none %}
  consul {
    ui_url = "{{ nomad__ui_consul_url }}"
  }
{% endif %}
{% if nomad__ui_vault_url is not none %}
  vault {
    ui_url = "{{ nomad__ui_vault_url }}"
  }
{% endif %}
{% if nomad__ui_label_text is not none %}
  label {
    text = "{{ nomad__ui_label_text }}"
{% if nomad__ui_label_background_color is not none %}
    background_color = "{{ nomad__ui_label_background_color }}"
{% endif %}
{% if nomad__ui_label_text_color is not none %}
    text_color = "{{ nomad__ui_label_text_color }}"
{% endif %}
  }
{% endif %}
}

{% if nomad__limits_http_max_conns_per_client is not none
   or nomad__limits_https_handshake_timeout is not none
   or nomad__limits_rpc_handshake_timeout is not none
   or nomad__limits_rpc_max_conns_per_client is not none %}
limits {
{% if nomad__limits_http_max_conns_per_client is not none %}
  http_max_conns_per_client = {{ nomad__limits_http_max_conns_per_client | int }}
{% endif %}
{% if nomad__limits_https_handshake_timeout is not none %}
  https_handshake_timeout = "{{ nomad__limits_https_handshake_timeout }}"
{% endif %}
{% if nomad__limits_rpc_handshake_timeout is not none %}
  rpc_handshake_timeout = "{{ nomad__limits_rpc_handshake_timeout }}"
{% endif %}
{% if nomad__limits_rpc_max_conns_per_client is not none %}
  rpc_max_conns_per_client = {{ nomad__limits_rpc_max_conns_per_client | int }}
{% endif %}
}

{% endif %}
{% if nomad__http_api_response_headers %}
http_api_response_headers {
{% for key, value in nomad__http_api_response_headers.items() %}
  {{ key | to_json }} = {{ value | to_json }}
{% endfor %}
}

{% endif %}
{% if nomad__use_consul %}
consul {
  address = "{{ nomad__consul_address }}"
{% if nomad__consul_grpc_address is not none %}
  grpc_address = "{{ nomad__consul_grpc_address }}"
{% endif %}
{% if nomad__consul_namespace is not none %}
  namespace = "{{ nomad__consul_namespace }}"
{% endif %}
{% if nomad__consul_token is not none %}
  token = "{{ nomad__consul_token }}"
{% endif %}
{% if nomad__consul_auth is not none %}
  auth = "{{ nomad__consul_auth }}"
{% endif %}
  auto_advertise = {{ nomad__consul_auto_advertise | bool | to_json }}
  server_auto_join = {{ nomad__consul_server_auto_join | bool | to_json }}
  client_auto_join = {{ nomad__consul_client_auto_join | bool | to_json }}
  server_service_name = "{{ nomad__consul_server_service_name }}"
  client_service_name = "{{ nomad__consul_client_service_name }}"
{% if nomad__consul_server_http_check_name is not none %}
  server_http_check_name = "{{ nomad__consul_server_http_check_name }}"
{% endif %}
{% if nomad__consul_server_serf_check_name is not none %}
  server_serf_check_name = "{{ nomad__consul_server_serf_check_name }}"
{% endif %}
{% if nomad__consul_server_rpc_check_name is not none %}
  server_rpc_check_name = "{{ nomad__consul_server_rpc_check_name }}"
{% endif %}
{% if nomad__consul_client_http_check_name is not none %}
  client_http_check_name = "{{ nomad__consul_client_http_check_name }}"
{% endif %}
  checks_use_advertise = {{ nomad__consul_checks_use_advertise | bool | to_json }}
{% if nomad__consul_tags %}
  tags = {{ nomad__consul_tags | to_json }}
{% endif %}
{% if nomad__consul_timeout is not none %}
  timeout = "{{ nomad__consul_timeout }}"
{% endif %}
{% if 'server' in nomad__roles %}
  allow_unauthenticated = {{ nomad__consul_allow_unauthenticated | bool | to_json }}
{% endif %}
{% if nomad__consul_service_auth_method is not none %}
  service_auth_method = "{{ nomad__consul_service_auth_method }}"
{% endif %}
{% if nomad__consul_task_auth_method is not none %}
  task_auth_method = "{{ nomad__consul_task_auth_method }}"
{% endif %}
  ssl = {{ nomad__consul_ssl | bool | to_json }}
  verify_ssl = {{ nomad__consul_verify_ssl | bool | to_json }}
{% if nomad__consul_share_ssl is not none %}
  share_ssl = {{ nomad__consul_share_ssl | bool | to_json }}
{% endif %}
{% if nomad__consul_ca_file is not none %}
  ca_file = "{{ nomad__consul_ca_file }}"
{% endif %}
{% if nomad__consul_cert_file is not none %}
  cert_file = "{{ nomad__consul_cert_file }}"
{% endif %}
{% if nomad__consul_key_file is not none %}
  key_file = "{{ nomad__consul_key_file }}"
{% endif %}
}

{% endif %}
{% if nomad__use_vault %}
vault {
  enabled = true
  address = "{{ nomad__vault_address }}"
{% if nomad__vault_namespace is not none %}
  namespace = "{{ nomad__vault_namespace }}"
{% endif %}
{% if nomad__vault_token is not none %}
  token = "{{ nomad__vault_token }}"
{% endif %}
{% if nomad__vault_create_from_role is not none %}
  create_from_role = "{{ nomad__vault_create_from_role }}"
{% endif %}
{% if nomad__vault_task_token_ttl is not none %}
  task_token_ttl = "{{ nomad__vault_task_token_ttl }}"
{% endif %}
{% if 'server' in nomad__roles %}
  allow_unauthenticated = {{ nomad__vault_allow_unauthenticated | bool | to_json }}
{% endif %}
{% if nomad__vault_jwt_auth_backend_path is not none %}
  jwt_auth_backend_path = "{{ nomad__vault_jwt_auth_backend_path }}"

  default_identity {
    aud = {{ nomad__vault_default_identity_aud | to_json }}
{% if nomad__vault_default_identity_ttl is not none %}
    ttl = "{{ nomad__vault_default_identity_ttl }}"
{% endif %}
    env = {{ nomad__vault_default_identity_env | bool | to_json }}
    file = {{ nomad__vault_default_identity_file | bool | to_json }}
  }
{% endif %}
{% if nomad__vault_ca_file is not none %}
  ca_file = "{{ nomad__vault_ca_file }}"
{% endif %}
{% if nomad__vault_ca_path is not none %}
  ca_path = "{{ nomad__vault_ca_path }}"
{% endif %}
{% if nomad__vault_cert_file is not none %}
  cert_file = "{{ nomad__vault_cert_file }}"
{% endif %}
{% if nomad__vault_key_file is not none %}
  key_file = "{{ nomad__vault_key_file }}"
{% endif %}
{% if nomad__vault_tls_server_name is not none %}
  tls_server_name = "{{ nomad__vault_tls_server_name }}"
{% endif %}
  tls_skip_verify = {{ nomad__vault_tls_skip_verify | bool | to_json }}
}

{% endif %}
{% if nomad__acl_enabled %}
acl {
  enabled = true
{% if nomad__acl_token_ttl is not none %}
  token_ttl = "{{ nomad__acl_token_ttl }}"
{% endif %}
{% if nomad__acl_policy_ttl is not none %}
  policy_ttl = "{{ nomad__acl_policy_ttl }}"
{% endif %}
{% if nomad__acl_role_ttl is not none %}
  role_ttl = "{{ nomad__acl_role_ttl }}"
{% endif %}
{% if nomad__acl_token_min_expiration_ttl is not none %}
  token_min_expiration_ttl = "{{ nomad__acl_token_min_expiration_ttl }}"
{% endif %}
{% if nomad__acl_token_max_expiration_ttl is not none %}
  token_max_expiration_ttl = "{{ nomad__acl_token_max_expiration_ttl }}"
{% endif %}
{% if nomad__acl_replication_token is not none %}
  replication_token = "{{ nomad__acl_replication_token }}"
{% endif %}
}

{% endif %}
{% if nomad__tls_enabled %}
tls {
  http = {{ nomad__tls_http | bool | to_json }}
  rpc  = {{ nomad__tls_rpc | bool | to_json }}
  ca_file   = "{{ nomad__tls_ca_file }}"
  cert_file = "{{ nomad__tls_cert_file }}"
  key_file  = "{{ nomad__tls_key_file }}"
  verify_server_hostname = {{ nomad__tls_verify_server_hostname | bool | to_json }}
  verify_https_client = {{ nomad__tls_verify_https_client | bool | to_json }}
  rpc_upgrade_mode = {{ nomad__tls_rpc_upgrade_mode | bool | to_json }}
{% if nomad__tls_min_version is not none %}
  tls_min_version = "{{ nomad__tls_min_version }}"
{% endif %}
{% if nomad__tls_cipher_suites %}
  tls_cipher_suites = "{{ nomad__tls_cipher_suites | join(',') }}"
{% endif %}
}

{% endif %}
telemetry {
  collection_interval = "{{ nomad__telemetry_collection_interval }}"
  disable_hostname = {{ nomad__telemetry_disable_hostname | bool | to_json }}
  use_node_name = {{ nomad__telemetry_use_node_name | bool | to_json }}
  prometheus_metrics = {{ nomad__telemetry_prometheus_metrics | bool | to_json }}
  publish_allocation_metrics = {{ nomad__telemetry_publish_allocation_metrics | bool | to_json }}
  publish_node_metrics = {{ nomad__telemetry_publish_node_metrics | bool | to_json }}
  disable_dispatched_job_summary_metrics = {{ nomad__telemetry_disable_dispatched_job_summary_metrics | bool | to_json }}
  include_alloc_metadata_in_metrics = {{ nomad__telemetry_include_alloc_metadata_in_metrics | bool | to_json }}
  filter_default = {{ nomad__telemetry_filter_default | bool | to_json }}
{% if nomad__telemetry_prefix_filter %}
  prefix_filter = {{ nomad__telemetry_prefix_filter | to_json }}
{% endif %}
{% if nomad__telemetry_in_memory_collection_interval is not none %}
  in_memory_collection_interval = "{{ nomad__telemetry_in_memory_collection_interval }}"
{% endif %}
{% if nomad__telemetry_in_memory_retention_period is not none %}
  in_memory_retention_period = "{{ nomad__telemetry_in_memory_retention_period }}"
{% endif %}
{% if nomad__telemetry_statsite_address is not none %}
  statsite_address = "{{ nomad__telemetry_statsite_address }}"
{% endif %}
{% if nomad__telemetry_statsd_address is not none %}
  statsd_address = "{{ nomad__telemetry_statsd_address }}"
{% endif %}
{% if nomad__telemetry_datadog_address is not none %}
  datadog_address = "{{ nomad__telemetry_datadog_address }}"
{% endif %}
{% if nomad__telemetry_datadog_tags %}
  datadog_tags = {{ nomad__telemetry_datadog_tags | to_json }}
{% endif %}
}
