---
consul__datacenter: "{{ hashi_common__datacenter }}"
consul__domain: consul
consul__role: server

consul__node_name: "{{ inventory_hostname_short }}"
consul__log_level: INFO
consul__bind_address: "0.0.0.0"
consul__advertise_address: "{{ ansible_default_ipv4.address }}"
consul__client_addresses:
  - "0.0.0.0"

consul__group_name: consul

# TODO: topic of optimisation
consul__servers: "\
  {% set _consul__servers = [] %}\
  {% for host in groups[consul__group_name] %}\
    {% set _consul_node_role = hostvars[host]['consul__role'] | default('server', true) %}\
    {% if _consul_node_role == 'server' %}\
      {% if _consul__servers.append(hostvars[host]['ansible_default_ipv4']['address']) %}{% endif %}\
    {% endif %}\
  {% endfor %}\
  {{ _consul__servers }}"
